DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_NAME=tripmate_db
DB_USER=tripmate_user
DB_PASSWORD=tripmate_pass
DB_HOST=localhost
DB_PORT=5432

DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=tm9146236@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=pljygkfkbxerqpjj
DJANGO_DEFAULT_FROM_EMAIL=tm9146236@gmail.com
OTP_EXPIRY_MINUTES=10
