Django>=6.0,<7.0
djangorestframework>=3.16.0,<4.0
djangorestframework-simplejwt>=5.4.0,<6.0
psycopg[binary]>=3.2.0,<4.0
Pillow>=10.0.0,<12.0
python-dotenv>=1.0.1,<2.0

flutter build apk --release --flavor driver -t lib/main_driver.dart
flutter build apk --release --flavor transporter -t lib/main_transporter.dart
python manage.py migrate
python manage.py runserver 0.0.0.0:8000